#navBg {
  top: 0;
}

.ekonomiczna-navbar {
  top: 0;
  height: 5rem;
}

.ekonomiczna-close-nav {
  padding: 10px 40px;
}

#navBurger {
  padding: 10px 40px;
  font-size: 2.5rem;
}

#logoMainWrapper {
  padding: 10px 40px;
}


#logoBW {
  width: 3rem;
}
